html {
}
header,
main,
footer {
  background: #757575;
}
body {
  color: #FFF;
  background: #757575;
}
img[class*="reader-page-"] {
  position: absolute;
  width: 100%;
  max-width:100%;
}
#breadcrumbs {
  background: #bdbdbd;
}
#comic-card-content {
  display:flex;
  height: 125px;
  color: #FFF;
  background-color: #bdbdbd;
  text-position: center;
}
#directory-card-content {
  display:flex;
  height: 125px;
  color: #FFF;
  background-color: #bdbdbd;
  text-position: center;
}
#footer {
  background: #757575;
}
#logo-wrapper {
  background: #757575;
}
i {
  color: #FFF;
}
#nav-dropdown {
  background-color: #bdbdbd;
}
#nav-dropdown a {
  color: #FFF;
}
#page-settings-text {
  color: #FFF;
}
#pagination-num a {
  color: #FFF;
}
#pagination-num.active {
  background-color: #bdbdbd;
}
#read-link {
  color: #FFF;
}
#settings-arrow {
  color: #bdbdbd;
}
#settings-button {
  background: #bdbdbd;
  color: #FFF;
}
#summary-pane {
  background: #bdbdbd;
  color: #FFF;
}
#tab-row {
  background: #bdbdbd;
  color: #FFF;
}
.btn-flat {
  background: #bdbdbd;
  color: #FFF;
}
.card {
  max-width: 300px;
  background-color: #bdbdbd;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.7);
}
.card img {
  height: 100%;
  max-height: 400px;
  max-width: 300px;
  object-fit: cover;
}
.card-content {
  background: #ffb73d;
  color: #FFF;
  text-align: center;
}
.card-content a {
  color: #FFF;
}
.center-cols > .col {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
}
.dimmed {
  background-color: rgba(0, 0, 0, 0.7);
}
.dropdown-button {
  background-color: #bdbdbd;
  color: #FFF;
}
.input-field {
  color: #FFF;
}
.input-field label {
  color: #FFF;
}
.input-field input[type=text]:focus + label {
  color: #FFF;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}
.input-field input[type=password]:focus + label {
  color: #FFF;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}
.overlay-settings {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  z-index:4000;
  min-height: 1px;
}
.overlay-settings-text {
  color: #FFF;
  height: 900px;
  line-height: 900px;
  text-align: center;
}
.page-left {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 33.33%;
}
.page-settings {
  position: fixed;
  left: 33.33%;
  top: 0px;
  height: 100%;
  width: 33.33%;
}
.page-right {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 33.33%;
}
.reader-overlay {
  position: absolute;
  background-color:#ccc;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  max-width:100%;
}
.reader-page {
  position: absolute;
  max-width:100%;
}
.settings-span-left {
  display: inline-block;
  left: 0px;
  vertical-align: middle;
  line-height: normal;
}
.settings-span-center {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
.settings-span-right {
  display: inline-block;
  right: 0px;
  vertical-align: middle;
  line-height: normal;
}
.tabs .tab a {
  background: #bdbdbd;
  color: #FFF;
}
.tabs .tab a:hover {
  color: #757575;
}
.tabs .indicator {
  background-color: #FFF;
}
